@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body{
    font-family: "DM Sans", sans-serif !important;
}
.color-primary-1{
    color: #60e0fd !important;
}

.bg-dark-alpha:before, .bg-dark-alpha .YTPOverlay:before{
    opacity: 0.75 !important;
}

.nav-logo-wrap .logo img{
    width: auto !important;
    height: 45px !important;
}

.btn-mod.btn-color{
    color: #1b1b1b !important;
}

.btn-mod.btn-color.btn-hover-anim:before{
    background-color: #fe93c7 !important;
    color: #1b1b1b !important;
}

.btn-mod.btn-color.btn-hover-anim:hover{
    border-color: #fe93c7 !important;
}

main{
    min-height: calc(100vh - (65px + 30.39px));
}

.quote-box{
    background-color: #ffffff32 !important;
    backdrop-filter: blur(10px) !important;
}

.list-title{
    font-size: 26px;
    font-weight: 800;
}

.list-title strong{
    font-weight: 800;
}

.grecaptcha-badge{
    z-index: 9;
}

select option{
    background-color: #1b1b1b !important;
    color: #ffffff !important;
}